body{
    background: #f1f1f1;
    font-family:Arial, Helvetica, sans-serif;
    margin:0;
    padding:0;
}

$color:#c2c1eb;
$text-color:#363746;
@mixin center{
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin shadow{
    box-shadow:$color 3px 3px 10px 1px , rgba(255, 255, 255, 0.5) -3px -3px 6px 1px;
    box-shadow:$color 3px 3px 5px 0px, white -5px -5px 18px -1px;
}
nav{
    margin:auto;
    height:120px;
    width:1400px;
    @include center();
    .link{
        text-decoration-line: none;
        display: block;
        width:120px;
    }
    .nav-container{
        height:100%;
        width:90%;
        @include center();
        justify-content: space-between;
        .links{
            width:350px;
            @include center();
            padding:5px;
            background: #f4f5fA;
            border-radius: 30px;
            justify-content: space-evenly;
            box-shadow:$color 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
            box-shadow:$color 3px 3px 6px 0px inset, white -3px -3px 6px -1px inset;
            p{
                text-align: center;
                padding:10px;
                width:90px;
                margin:5px 0px 5px 3px;
                font-size: 18px;
                font-weight:600;
                color:$text-color;
                border-radius: 20px;
                transition: 0.2s ease-in-out;
                &:hover{
                    box-shadow:$color 3px 3px 6px 0px;
                }
            }
        }
        .socials{
            @include center();
            justify-content: space-evenly;
            a{
                @include center();
                text-decoration-line: none;
                text-align: center;
                height:50px;
                margin:0px 10px 0px 10px;
                .github-logo{
                    margin-left: 5px;
                }
                p{
                    @include center();
                    height:30px;
                    background: #f4f5fA;
                    width:30px;
                    font-size: 18px;
                    border-radius: 50%;
                    padding:10px;
                    margin-left:10px;   
                    color:$text-color;
                    box-shadow:$color 3px 3px 6px 0px , rgba(255, 255, 255, 0.5) -3px -3px 6px 1px;
                    transition: 0.1s ease;
                    font-weight: 500;
                    cursor: pointer;
                    &:hover{
                        background: white;
                    }
                }
    
            }
        }
    }
}

.button-connect{
    height:50px;
    width:180px;
    border-radius: 20px;
    border:none;
    outline:none;
    @include shadow;
    font-size: 16px;
    font-weight:570;
    color:$text-color;
    margin: 10px 0px 0px 20%;
    cursor:pointer;
}
.hero{
    height:500px;
    margin: auto;
    width:1300px;
    @include center();
    flex-wrap: wrap;
    .link{
        text-decoration-line: none;
        display: block;
        width:100px;
    }
    .hero-item{
        @include shadow;
        border-radius: 20px;
        height:100%;
    }
    .top{
        height:45%;
        width:98%;
        @include center();
        justify-content: space-evenly;
        flex-wrap: wrap;
        .intro{
            width:45%;
            h1{
                color:$text-color;
                margin-top:90px;
                padding:0px 0px 0px 30px;
                margin-bottom: 10px;
            }
            p{
                color:$text-color;
                opacity:0.9;
                padding:0px 20px 0px 30px;
            }
        }
        .works{
            width:22%;
            @include center();
            flex-direction: column;
            .img{
                height:50%;
                width:100%;
                .icon-work{
                    font-size: 80px;
                    color: $text-color; 
                    background-clip: text; 
                    background-image: -webkit-linear-gradient(top, rgb(133,129,157),
                    rgb(133,129,157));
                    -webkit-text-stroke-width: 0.1px;
                    float:right;
                    margin:30px 30px;
                }
            }
            .text{
                height:50%;
                width:100%;
                padding-left:60px;
                h1{
                    color:$text-color;
                }
                p{
                    color:$text-color;
                    opacity:0.9;
                    margin-top:-10px;
                    width:100px;
                }
            }
        }
        .about{
            width:22%;
            @include center();
            flex-direction: column;
            .img{
                height:50%;
                width:100%;
                .pencil{
                    font-size: 80px;
                    float:right;
                    margin:30px 30px 0px 0px;
                }
            }
            .text{
                height:50%;
                width: 100%;
                padding-left:60px;
                h1{
                    color:$text-color;
                }
                p{
                    color:$text-color;
                    opacity:0.9;
                    margin-top:-10px;
                    width:100px;
                }
            }
        }
    }
    .bottom{
        height:47%;
        width:98%;
        @include center();
        justify-content: space-evenly;
        flex-wrap: wrap;
        .contact{
            width:22%;
            flex-direction: column;
            h1{
                color:$text-color;
                margin-left:20px;
            }
            p{
                color:$text-color;
                opacity: 0.9;
                text-align: left;
                margin-left:20px;
            }
            button{
                margin-left: 50px;
            }
        }
        .video{
            user-select: none;
            overflow:hidden;
            width:22%;
            video{
                border-radius: 20px;
                outline:none;
                border:none;
                object-fit: cover;
            }
        }
        .skills{
            width:45%;
            @include center();
            .text{
                height:100%;
                width:70%;
                padding:40px 0px 0px 30px;
                h1{
                    color:$text-color;
                }
                .skills-container{
                    width:350px;
                    padding:10px;
                    box-shadow:$color 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
                    box-shadow:$color 3px 3px 6px 0px inset, white -3px -3px 6px -1px inset;
                    border-radius: 20px;
                    p{
                        color:$text-color;
                        opacity:0.9;
                    }
                }
            }
            .img{
                height:100%;
                width:30%;
                @include center();
                .designIcon{
                    font-size: 90px;
                }
            }
        }
    }
}



.hero-aboutme{
    height:500px;
    margin:auto;
    width:1300px;
    @include center();
    flex-wrap: wrap;
    .aboutme-item{
        height:100%;
        @include shadow;
        border-radius: 20px ;
    }
    .top{
        height:47%;
        width:98%;
        @include center();
        justify-content: space-between;
        .aboutme{
            height:100%;
            width:50%;
            h1{
                padding:0px 0px 0px 20px;
                color:$text-color;
            }
            p{
                padding:0px 30px 0px 30px;
                
                font-size: 14px;
                color:$text-color;
                opacity: 0.9;;
            }
        }
        .image{
            height:100%;
            width:22%;
            box-shadow:$color 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
            box-shadow:$color 3px 3px 6px 0px inset, white -3px -3px 6px -1px inset;
            border-radius: 20px ;
            @include center();
            .img-container{
                height:90%;
                width:90%;
                border-radius: inherit;
                img{
                    height:100%;
                    border-radius: inherit;
                    width:100%;
                    object-fit: cover;
                    object-position: left;
                }
            }
        }
        .contact{
            width:22%;
            flex-direction: column;
            h1{
                color:$text-color;
                margin-left:20px;
            }
            p{
                color:$text-color;
                opacity: 0.9;
                text-align: left;
                margin-left:20px;
            }    
        }
    }
    .bottom{
        height:42%;
        width:98%;
        @include center();
        justify-content: space-between;
        flex-wrap: wrap;
        .map{
            width:25%;
            @include center();
            .map-container{
                height:90%;
                width:90%;
                border-radius: inherit;
                iframe{
                    height:100%;
                    width:100%;
                border-radius: inherit;

                }
            }
        }
        .hobbies{
            width:20%;
            height:100%;
            .hobbies-container{
                height:100%;
                width:90%;
                margin:0px 0px 0px 20px;
                h1{
                    color:$text-color;
                }
                ul{
                    li{
                        color:$text-color;
                        padding:5px;
                        opacity:0.9;
                    }
                }
            }
        }
        .skills{
            width:50%;
            h1{
                padding:0px 0px 0px 40px;
                color:$text-color;
            }
            li{
                list-style-type: none;
                padding:0px 0px 0px 60px;
                display: flex;
                p{
                    margin:0px 0px 10px 0px;
                    color:$text-color;
                    width:120px;
                }
                .bar-container{
                    height:5px;
                    width:60%;
                    border:1px solid $color;
                    border-radius: 2px;
                    .bar{
                        height:5px;
                        display: block;
                        background: $color;
                        border-radius: 5px;
                    }
                    .html{
                        animation :html 4s ;
                        width:90%;
                    }
                    .css{
                        animation :css 4s  ;
                        width:80%;
                    }
                    .js{
                        animation :js 4s ;
                        width:60%;
                    }
                    .react{
                        animation :react 4s ;
                        width:60%;
                    }
                    @keyframes html{
                        from{width:0%;}
                        to{width:90%;}
                    }
                    @keyframes css{
                        from{width:0%;}
                        to{width:80%;}
                    }                    
                    @keyframes js{
                        from{width:0%;}
                        to{width:60%;}
                    }                    
                    @keyframes react{
                        from{width:0%;}
                        to{width:60%;}
                    }
                }
            }
        }
    }
}



.hero-works{
    height:500px;
    width:1300px;
    @include center();
    margin: auto;
    justify-content: space-evenly;
    flex-wrap: wrap;
    .main{
        height:240px;
        width:45%;
        @include center();
        justify-content: space-evenly;
        @include shadow;
        border-radius: 20px;
        .image-container{
            height:93%;
            width:60%;
            @include center();
            overflow: hidden;
            border-radius: 20px;
            position: relative;
            img{
                width:100%;
                border-radius: 20px;
                position: absolute;
                top:0;
            }
        }
        .text{
            height:95%;
            width:35%;
            @include center();
            flex-direction: column;
            color:$text-color;
            button{
                @include shadow;
                cursor:pointer;
            }
        }
    }
}

.form-hero{
    form{
        @include shadow;
        height:100%;
        border-radius: 20px;
        @include center();
        .form-container{
            height:100%;
            margin-left: 10px;
            textarea{
                box-shadow: 2px 1px 1px 1px $color;
            }
            input{
                box-shadow: 2px 1px 1px 1px $color;
            }
        }
    }
}




@media (max-width:768px){
    nav{
        margin-top: 20px;
        width:400px;
        .nav-container{
            flex-direction: column;
            .links{
                width:300px;
                p{
                    padding:5px 5px 5px 10px;
                    width:70px;
                    margin-left:8px;
                }
            }
        }
    }
    .hero{
        height:auto;
        width:350px;
        .top{
            width:100%;
            justify-content: space-between;
            .hero-item{
                width:inherit;
                margin-top:20px;
            }
            .intro{
                height:100%;
                width:inherit;
                h1{
                    margin:50px 0px 0px 0px;
                }
            }
            .works{
                width:48%;
                .img{
                    .icon-work{
                        font-size: 50px;
                        float: left;
                    }
                }
                .text{
                    margin-top: -25px;
                    h1{
                        font-size: 23px;
                    }
                    p{
                        font-size: 14px;
                    }
                }
            }
            .about{                
                width:48%;
                .img{
                    margin: 0px 0px 30px 60px;
                    .pencil{
                        font-size: 50px;
                        float: left;
                    }
                }
                .text{
                    margin-top: -25px;
                    h1{
                        font-size: 23px;
                    }
                    p{
                        font-size: 14px;
                    }                    
                }
            }
        }
        .bottom{
            width:100%;
            flex-direction: column;
            .hero-item{
                width:inherit;
                margin-top:20px;
            }
            .contact{
                height:200px;
                width:100%;
                button{
                    margin-left:90px;                    
                }
            }
            .video{
                width:100%;
                height:190px;
                video{
                    object-fit: cover;
                    height:100%;
                    width:100%;
                }
            }
            .skills{
                width:100%;
                .text{
                    padding:10px 10px 10px 10px;
                    h1{
                        margin-left: 20px;
                    }
                    .skills-container{
                        margin-left: 20px;
                        width:250px;
                    }
                }
                .img{
                    .designIcon{
                        font-size: 50px;
                        margin: -100px 30px 0px 0px;
                    }
                }
            }
        }
    }
}