body {
  background: #f1f1f1;
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  margin: auto;
  height: 120px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav .link {
  text-decoration-line: none;
  display: block;
  width: 120px;
}
nav .nav-container {
  height: 100%;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
nav .nav-container .links {
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  background: #f4f5fA;
  border-radius: 30px;
  justify-content: space-evenly;
  box-shadow: #c2c1eb 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  box-shadow: #c2c1eb 3px 3px 6px 0px inset, white -3px -3px 6px -1px inset;
}
nav .nav-container .links p {
  text-align: center;
  padding: 10px;
  width: 90px;
  margin: 5px 0px 5px 3px;
  font-size: 18px;
  font-weight: 600;
  color: #363746;
  border-radius: 20px;
  transition: 0.2s ease-in-out;
}
nav .nav-container .links p:hover {
  box-shadow: #c2c1eb 3px 3px 6px 0px;
}
nav .nav-container .socials {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
}
nav .nav-container .socials a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration-line: none;
  text-align: center;
  height: 50px;
  margin: 0px 10px 0px 10px;
}
nav .nav-container .socials a p {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  background: #f4f5fA;
  width: 30px;
  font-size: 18px;
  border-radius: 50%;
  padding: 10px;
  margin-left: 10px;
  color: #363746;
  box-shadow: #c2c1eb 3px 3px 6px 0px, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px;
  transition: 0.5s ease-in-out;
  font-weight: 500;
  cursor: pointer;
}
nav .nav-container .socials a p:hover {
  transform: rotateY(360deg);
}

.hero {
  height: 500px;
  margin: auto;
  width: 1300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.hero .link {
  text-decoration-line: none;
  display: block;
  width: 100px;
}
.hero .top {
  height: 45%;
  width: 98%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.hero .top .intro {
  height: 100%;
  width: 45%;
  border-radius: 20px 50px 20px 50px;
  box-shadow: #c2c1eb 3px 3px 10px 1px, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px;
  box-shadow: #c2c1eb 3px 3px 5px 0px, white -5px -5px 18px -1px;
}
.hero .top .intro h1 {
  color: #363746;
  margin-top: 90px;
  padding: 0px 0px 0px 30px;
  margin-bottom: 10px;
}
.hero .top .intro p {
  color: #363746;
  opacity: 0.9;
  padding: 0px 20px 0px 30px;
}
.hero .top .works {
  height: 100%;
  width: 22%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 20px 40px 20px 40px;
  box-shadow: #c2c1eb 3px 3px 10px 1px, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px;
  box-shadow: #c2c1eb 3px 3px 5px 0px, white -5px -5px 18px -1px;
}
.hero .top .works .img {
  height: 50%;
  width: 100%;
}
.hero .top .works .img .icon-work {
  font-size: 80px;
  color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
  background-image: -webkit-linear-gradient(top, rgb(133, 129, 157), rgb(133, 129, 157));
  opacity: 0.9;
  -webkit-text-stroke-width: 0.1px;
  float: right;
  margin: 30px 30px;
}
.hero .top .works .text {
  height: 50%;
  width: 100%;
  padding-left: 60px;
}
.hero .top .works .text h1 {
  color: #363746;
}
.hero .top .works .text p {
  color: #363746;
  opacity: 0.9;
  margin-top: -10px;
  width: 100px;
}
.hero .top .about {
  height: 100%;
  width: 22%;
  border-radius: 20px 40px 20px 40px;
  box-shadow: #c2c1eb 3px 3px 10px 1px, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px;
  box-shadow: #c2c1eb 3px 3px 5px 0px, white -5px -5px 18px -1px;
}
.hero .top .about .img {
  height: 50%;
  width: 100%;
}
.hero .top .about .img .pencil {
  font-size: 80px;
  float: right;
  padding: 20px 30px 0px 0px;
}
.hero .top .about .text {
  height: 50%;
  width: 100%;
  padding-left: 30px;
}
.hero .top .about .text h1 {
  color: #363746;
}
.hero .top .about .text p {
  color: #363746;
  opacity: 0.9;
  margin-top: -10px;
}
.hero .bottom {
  height: 47%;
  width: 98%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.hero .bottom .contact {
  height: 100%;
  width: 22%;
  flex-direction: column;
  border-radius: 20px 40px 20px 40px;
  box-shadow: #c2c1eb 3px 3px 10px 1px, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px;
  box-shadow: #c2c1eb 3px 3px 5px 0px, white -5px -5px 18px -1px;
}
.hero .bottom .contact h1 {
  color: #363746;
  margin-left: 20px;
}
.hero .bottom .contact p {
  color: #363746;
  opacity: 0.9;
  text-align: left;
  margin-left: 20px;
}
.hero .bottom .contact button {
  height: 50px;
  width: 180px;
  border-radius: 20px;
  border: none;
  outline: none;
  box-shadow: #c2c1eb 3px 3px 10px 1px, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px;
  box-shadow: #c2c1eb 3px 3px 5px 0px, white -5px -5px 18px -1px;
  font-size: 16px;
  font-weight: 570;
  color: #363746;
  margin: 10px 0px 0px 50px;
  cursor: pointer;
}
.hero .bottom .video {
  height: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  overflow: hidden;
  width: 22%;
  border-radius: 20px 40px;
  box-shadow: #c2c1eb 3px 3px 10px 1px, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px;
  box-shadow: #c2c1eb 3px 3px 5px 0px, white -5px -5px 18px -1px;
}
.hero .bottom .video video {
  border-radius: 20px;
  outline: none;
  border: none;
  -o-object-fit: cover;
     object-fit: cover;
}
.hero .bottom .skills {
  height: 100%;
  width: 45%;
  border-radius: 20px 40px 20px 40px;
  box-shadow: #c2c1eb 3px 3px 10px 1px, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px;
  box-shadow: #c2c1eb 3px 3px 5px 0px, white -5px -5px 18px -1px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero .bottom .skills .text {
  height: 100%;
  width: 70%;
  padding: 40px 0px 0px 30px;
}
.hero .bottom .skills .text h1 {
  color: #363746;
}
.hero .bottom .skills .text .skills-container {
  width: 350px;
  padding: 10px;
  box-shadow: #c2c1eb 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  box-shadow: #c2c1eb 3px 3px 6px 0px inset, white -3px -3px 6px -1px inset;
  border-radius: 20px;
}
.hero .bottom .skills .text .skills-container p {
  color: #363746;
  opacity: 0.9;
}
.hero .bottom .skills .img {
  height: 100%;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero .bottom .skills .img .designIcon {
  font-size: 90px;
}

.hero-aboutme {
  height: 500px;
  margin: auto;
  width: 1300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.hero-aboutme .top {
  height: 47%;
  width: 98%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
.hero-aboutme .top .aboutme {
  height: 100%;
  width: 50%;
  border-radius: 20px 60px 20px 60px;
  box-shadow: #c2c1eb 3px 3px 10px 1px, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px;
  box-shadow: #c2c1eb 3px 3px 5px 0px, white -5px -5px 18px -1px;
}
.hero-aboutme .top .aboutme h1 {
  padding: 0px 0px 0px 20px;
  color: #363746;
}
.hero-aboutme .top .aboutme p {
  padding: 0px 30px 0px 30px;
  font-size: 14px;
  color: #363746;
  opacity: 0.9;
}
.hero-aboutme .top .image {
  height: 100%;
  width: 22%;
  box-shadow: #c2c1eb 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  box-shadow: #c2c1eb 3px 3px 6px 0px inset, white -3px -3px 6px -1px inset;
  border-radius: 20px 50px 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-aboutme .top .image .img-container {
  height: 90%;
  width: 90%;
  border-radius: inherit;
}
.hero-aboutme .top .image .img-container img {
  height: 100%;
  border-radius: inherit;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left;
     object-position: left;
}
.hero-aboutme .top .contact {
  height: 95%;
  width: 22%;
  flex-direction: column;
  border-radius: 20px 40px 20px 40px;
  box-shadow: #c2c1eb 3px 3px 10px 1px, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px;
  box-shadow: #c2c1eb 3px 3px 5px 0px, white -5px -5px 18px -1px;
}
.hero-aboutme .top .contact h1 {
  color: #363746;
  margin-left: 20px;
}
.hero-aboutme .top .contact p {
  color: #363746;
  opacity: 0.9;
  text-align: left;
  margin-left: 20px;
}
.hero-aboutme .top .contact button {
  height: 50px;
  width: 180px;
  border-radius: 20px;
  border: none;
  outline: none;
  box-shadow: #c2c1eb 3px 3px 10px 1px, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px;
  box-shadow: #c2c1eb 3px 3px 5px 0px, white -5px -5px 18px -1px;
  font-size: 16px;
  font-weight: 570;
  color: #363746;
  margin: 10px 0px 0px 20%;
  cursor: pointer;
}
.hero-aboutme .bottom {
  height: 42%;
  width: 98%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.hero-aboutme .bottom .map {
  height: 100%;
  width: 25%;
  box-shadow: #c2c1eb 3px 3px 10px 1px, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px;
  box-shadow: #c2c1eb 3px 3px 5px 0px, white -5px -5px 18px -1px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px 40px;
}
.hero-aboutme .bottom .map .map-container {
  height: 90%;
  width: 90%;
  border-radius: inherit;
}
.hero-aboutme .bottom .map .map-container iframe {
  height: 100%;
  width: 100%;
  border-radius: inherit;
}
.hero-aboutme .bottom .hobbies {
  width: 20%;
  height: 100%;
  box-shadow: #c2c1eb 3px 3px 10px 1px, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px;
  box-shadow: #c2c1eb 3px 3px 5px 0px, white -5px -5px 18px -1px;
  border-radius: 20px 40px;
}
.hero-aboutme .bottom .hobbies .hobbies-container {
  height: 100%;
  width: 90%;
  margin: 0px 0px 0px 20px;
}
.hero-aboutme .bottom .hobbies .hobbies-container h1 {
  color: #363746;
}
.hero-aboutme .bottom .hobbies .hobbies-container ul li {
  color: #363746;
  padding: 5px;
  opacity: 0.9;
}
.hero-aboutme .bottom .skills {
  height: 100%;
  width: 50%;
  border-radius: 20px 60px;
  box-shadow: #c2c1eb 3px 3px 10px 1px, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px;
  box-shadow: #c2c1eb 3px 3px 5px 0px, white -5px -5px 18px -1px;
}
.hero-aboutme .bottom .skills h1 {
  padding: 0px 0px 0px 40px;
  color: #363746;
}
.hero-aboutme .bottom .skills li {
  list-style-type: none;
  padding: 0px 0px 0px 60px;
  display: flex;
}
.hero-aboutme .bottom .skills li p {
  margin: 0px 0px 10px 0px;
  color: #363746;
  width: 120px;
}
.hero-aboutme .bottom .skills li .bar-container {
  height: 5px;
  width: 60%;
  border: 1px solid #c2c1eb;
  border-radius: 2px;
}
.hero-aboutme .bottom .skills li .bar-container .bar {
  height: 5px;
  display: block;
  background: #c2c1eb;
  border-radius: 5px;
}
.hero-aboutme .bottom .skills li .bar-container .html {
  animation: html 4s;
  width: 90%;
}
.hero-aboutme .bottom .skills li .bar-container .css {
  animation: css 4s;
  width: 80%;
}
.hero-aboutme .bottom .skills li .bar-container .js {
  animation: js 4s;
  width: 60%;
}
.hero-aboutme .bottom .skills li .bar-container .react {
  animation: react 4s;
  width: 60%;
}
@keyframes html {
  from {
    width: 0%;
  }
  to {
    width: 90%;
  }
}
@keyframes css {
  from {
    width: 0%;
  }
  to {
    width: 80%;
  }
}
@keyframes js {
  from {
    width: 0%;
  }
  to {
    width: 60%;
  }
}
@keyframes react {
  from {
    width: 0%;
  }
  to {
    width: 60%;
  }
}

.hero-works {
  height: 500px;
  width: 1300px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.hero-works .chef .image {
  background: url("../public/chef.png");
}
.hero-works .portfolio .image {
  background: url("../public/portfolio.png");
}
.hero-works .smokefree .image-container .image {
  background-image: url("../public/smokefree.png");
}
.hero-works .main {
  height: 240px;
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: #c2c1eb 3px 3px 10px 1px, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px;
  box-shadow: #c2c1eb 3px 3px 5px 0px, white -5px -5px 18px -1px;
  border-radius: 20px 20px;
}
.hero-works .main .image-container {
  height: 95%;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-works .main .image-container .image {
  height: 95%;
  width: 100%;
  border-radius: 10px;
  background-size: cover;
  background-position-y: top;
  transition: 1.5s ease-in-out;
}
.hero-works .main .image-container .image:hover {
  background-position-y: bottom;
}
.hero-works .main .text {
  height: 95%;
  width: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #363746;
}
.hero-works .main .text button {
  height: 50px;
  width: 180px;
  border-radius: 20px;
  border: none;
  outline: none;
  box-shadow: #c2c1eb 3px 3px 10px 1px, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px;
  box-shadow: #c2c1eb 3px 3px 5px 0px, white -5px -5px 18px -1px;
  font-size: 16px;
  font-weight: 570;
  color: #363746;
  cursor: pointer;
}
.hero-works .main .text button:hover {
  animation: shake 0.4s linear;
}

.form-hero {
  height: 500px;
  width: 400px;
  border: 1px solid black;
  margin: auto;
  color: #363746;
}/*# sourceMappingURL=App.css.map */